html {
  background-color: #000;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes colorChange {
  0% { color: #EE1B26; }
  25% { color: #0A60FF; }
  50% { color: #FAF33E; }
  75% { color: #F8E9E9; }
  100% { color: #EE1B26; }
}

h1, h2, h3, h4, h5, p, li {
  color: #F8E9E9;
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-bar {
  display: flex;

  .title {
    font-size: 20px;
    animation: colorChange linear 2s infinite;
  }

  .item-list {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 70%; 
    list-style: none;
  }

  .item {
    font-size:15px;
  }
}

.navigation-footer {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 100%;
  .return-message {
    font-size: 15px;
  }
}


